{"filter":false,"title":".gitignore","tooltip":"/git_tutorial/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1602206970815,"hash":"50a69feb061f30022b4cb5f7607e424ea32f3767"}